<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение аккаунта</title>
    <style>
        header, footer {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body {
            font-family: sans-serif;
        }

        footer {
            font-size: 14px;
        }

    </style>
</head>
<body>
<header>
    <h2>Здравствуйте, <b><span th:text="${surname}">surname</span> <span th:text="${name}">name</span> <span th:text="${fathersName}">fathersName</span></b>!</h2>
</header>
Благодарим Вас за регистрацию на платформе Магистраль!<br>
Для подтверждения аккаунта перейдите по ссылке:
<a th:href="${confirmationLink}" th:text="${confirmationLink}">ссылка</a>

<p>Это письмо отправлено автоматически, не отвечайте на него.</p>

<footer>©ООО "ЛТК МАГИСТРАЛЬ". Все права защищены.</footer>
</body>
</html>
